name: Workflows

on:
  push:
    branches:
      - main
    tags:
      - v*.*.*
env:
  ACTIONS_RUNNER_DEBUG: true
  ACTIONS_STEP_DEBUG: true
jobs:
  test-ci:
    name: Test CI
    uses: ./.github/workflows/ci.yml
    permissions:
      id-token: write
      contents: read
    with:
      ref_name: ${{ github.ref_name }}
      python3-versions: '["10","11","12"]'
